KALFIZ_APP_HOST=0.0.0.0
KALFIZ_APP_PORT=8000
KALFIZ_MEDIA_ROOT=media
KALFIZ_RUNTIME_MODE=runtime
KALFIZ_DEVICE_HOSTNAME=kalfiz
KALFIZ_KIOSK_URL=http://127.0.0.1:8000/display
KALFIZ_GRID_DEFAULT_SIZE=48
KALFIZ_HOTSPOT_SSID=Kalfiz-Setup
KALFIZ_HOTSPOT_ADDRESS=http://192.168.4.1:8000/provision
KALFIZ_ALLOW_NETWORK_MUTATIONS=false
